
<body>
    <h2>Edit your data</h2>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <form action="http://localhost:3000/lists/<%=data._id%>/edit?_method=patch"   class="needs-validation" novalidate method="POST" >

        <div>
            <label for="title" class="form-label">Title</label>
        <input type="text"class="form-control" placeholder="title" name ="data[title]"  value="<%=data.title%>" required >
        <div class="invalid-feedback">Title is required</div> <br><br>
        </div>

        <div>
            <label for="img" class="form-label">Image link</label><br>
            <input type="text"class="form-control"  name ="data[image][url]"id="img" class="form-control "placeholder="Enter image url"value="<%=data.image.url%>" required>
            <div class="invalid-feedback">Image link is required</div><br><br>
        </div>

         <div>
            <label for="desc" class="form-label">Description</label><br>
        <textarea  class="form-control"placeholder="Description" name ="data[desc]" id="desc"style="height:100px;"><%=data.description%></textarea> <br><br>
        </div>

         <div>
            <label for="price" class="form-label">Price</label><br>
            <input class="form-control" type="text" placeholder="price" id="price"name ="data[price]" value="<%=data.price%>" required>
            <div class="invalid-feedback">Price is required</div><br><br>
        </div>
       
        <div>
            <label for="location" class="form-label">Location</label><br>
            <input type="text"  class="form-control" placeholder="location" id="location"name ="data[location]"value="<%=data.location%>" required>
            <div class="invalid-feedback">Location is required</div><br><br>
        </div>

        <div>
            <label for="country" class="form-label">Country</label><br>
            <input class="form-control"type="text" placeholder="country"id="country" name ="data[country]" value="<%=data.country%>" required>
            <div class="invalid-feedback">Country is required</div><br><br>
        </div>

        
        <button type="submit" class="btn btn-success edit-btn">Submit</button>
        <a href="/lists/<%=data._id%>"  class="btn btn-secondary">Back </a><br><br>
    </form><br>
    
     </div>
    </div>
    <% layout("/layouts/boilerplate") %>
</body>
